<%- include("_head") %> 
<header class="masthead" style="background-image:url('assets/img/contact-bg.jpg');">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-lg-8 mx-auto position-relative">
                <div class="site-heading">
                    <h1><%= title %></h1>
                </div>
            </div>
        </div>
    </div>
</header>
<h1>This Pages is not complete yet</h1>
<%- include("_foot") %>