<%- include("_head") %>
    <header class="masthead" style="background-image:url('/assets/img/contact-bg.jpg');">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-lg-8 mx-auto position-relative">
                    <div class="site-heading">
                        <h1>Edit Blog</h1><span class="subheading">Have write-up? Upload it here.</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-lg-8 mx-auto">
                <p>Want to get your write-up into the website please fill out this form and add your write-up</p>
                <form id="contactForm" action="/articles/edit/<%= article.slug %>" method="POST">
                    <%- include("_forms_fields") %>     
                </form>
            </div>
        </div>
    </div>
    <hr>
<%- include("_foot") %>